<div class="container text-center" style="
    margin-right: 100px;
    margin-left: 100px;
">
    <div class="row row-cols-4" style="
    width: 1600px;
">
<% @cars.each do |car|%>
    <div class="col">

      <% if car.images.attached?  %>
        <div class="col align-self-start">
         <%= image_tag car.images.first, width: "300px", height: "210px"%>
        </div>
      <% else %>
        <p>Please insert images</p>
      <% end %>

      <p>Brand: <%= car.brand%></p>
      <p>Model: <%= car.model%> </p> 

      <% if user_signed_in?%>

      <p><%= link_to "View Car", car_path(car) %></p>


      <% end %>
    </div>
<% end %>
  </div>
</div>

