<h1> Your Enquiries </h1>
<% @cars.each do |car|%>
	<% if car.inquiries.present? %>
	<p>Car: <%= Car.find_by(id: car.id).model %></p>
		<% car.inquiries.each do |inquiry| %>
		<p>Content: <%= inquiry.content%></p>
		<p>Buyers Number: <%= inquiry.number %></p>
		<hr>
		<% end %>
	<% end %>
<% end  %>