<h1> Your Enquiries </h1>
<% @inquiries.each do |inquiry|%>
<p>Car: <%= Car.find_by(id: inquiry.car_id).model %></p>
<p>Content: <%= inquiry.content%></p>
<p>Buyers Number: <%= inquiry.number %></p>
<hr>
<% end  %>