<h1> Your Reviews </h1>
<% @cars.each do |car|%>
	<% if car.reviews.present? %>
	<h6>Model Name: <%= car.model%></h6>
		<% car.reviews.each do |review|%>
			<p>User: <%= review.user.user_name %></p>
			<p>description: <%= review.description %></p>
		<% end %>
	<% end %> 
<% end %>


